<%- include("./partials/header") %>

<div class="container mt-5">
    <h1>Welcome to login and Register System!</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
</div>
<p>
   <center> loving the way Node.js Works || <b><a href="http://www.kishankr.me/portfolio">Kishan Kumar</a></b></center>
</p>

<%- include("./partials/footer") %>